<form [formGroup]="addSumForm" (ngSubmit)="generate()">
  <div class="column-align">
    <div>
      <h2> Generate Addition & Substraction Worksheet</h2>
    </div>
    <mat-form-field class="example-container" appearance="outline">
      <mat-label>Sum Type</mat-label>
      <mat-select disableRipple formControlName="sumTypeControl">
        <mat-option value="{{ADD_TYPE}}">Addition</mat-option>
        <mat-option value="{{SUB_TYPE}}">Subraction</mat-option>
        <mat-option value="{{MIXED_TYPE}}">Mixed</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="example-container" appearance="outline">
      <mat-label>No. of Questions</mat-label>
      <mat-select disableRipple formControlName="sumCountControl">
        <mat-option value="25">25 Questions</mat-option>
        <mat-option value="50">50 Questions</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="example-container" appearance="outline">
      <mat-label>No. of Digits</mat-label>
      <mat-select disableRipple formControlName="digitCountControl">
        <mat-option value="9">1 digit</mat-option>
        <mat-option value="99">2 digit</mat-option>
        <mat-option value="999">3 digit</mat-option>
        <mat-option value="9999">4 digit</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="example-container" appearance="outline">
      <mat-label>No. of Rows</mat-label>
      <mat-select disableRipple formControlName="rowCountControl">
        <mat-option value="4">4 rows</mat-option>
        <mat-option value="5">5 rows</mat-option>
        <mat-option value="10">10 rows</mat-option>

      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary">Generate Worksheet</button>
    <div> {{statusMessage}}</div>
  </div>
</form>